.task{
    margin: 10px auto; 
    /* background-color: rgb(0, 0, 0) !important; */
    color: #000;
    /* border: 1px solid rgb(112, 112, 112) !important; */
 } 

.actionButton{
    margin: 5px;
}

.selected{
    border: 1px solid #f00 !important;
}
.date{
    font-size: 14px;
}
body{
    /* background-color: rgb(0, 0, 0) !important; */
}
.card{
}